/* Estilos generales */
body {
    background: #ebeff5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabecera */
header {
    background-color: #2a2a2b;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

header h1,
header h2 {
    margin: 5px 0;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

nav ul a:hover {
    background-color: #8a97e7;
    color: rgb(45, 245, 5);
    border-radius: 5px;
}

/* Secciones */
section {
    background-color: #f5f5fa;
    color: #333;
    border: 2px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezados */
h1,
h2 {
    color: #f3f3f7;
}

.title {
    color: #202020;
}

/* Párrafos */
p {
    background-color: #b8daf1;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
}

/* Listas */
ul {
    list-style: none;
    padding: 0;
}

li {
    color: #303131;
    margin-bottom: 10px;
}

#habilidades ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #5341a3;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #b8daf1;
    color: #1313f3;
}

/* Enlaces */
a {
    color: #3f51b5;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #303f9f;
}

/* Formularios */
#contacto form {
    margin: 0 auto;
    width: 250px;
}

#contacto form input,
#contacto form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contacto form input[type="submit"] {
    background-color: #b8daf1;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contacto form input[type="submit"]:hover {
    background-color: #b8daf1;
}

/* Animación */
.animation-titulo {
    animation: aparecer 3s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Menú fijo */
.menu-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.menu-fijo.fijo {
    background-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #202020;
    color: #f2f7f2;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

#base {
    color: #f1f2f5;
}